<main>
    <div class="row gy-5">
        <section class="col-12">
            <div class="card text-bg-dark">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product #115151</h5>
                    <p class="text-secondary">Рюкзак Cabinet O97515</p>
                    <a href="/summary" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>

        <section class="col-3">
            <div class="card">
                <div class="card-header">
                    <div>Menu</div>
                </div>

                <ul class="List-group list-group-flush">
                    <li class="List-group-item">
                        <a href="#" class="btn btn-link">Home page</a>
                    </li>
                    <li class="List-group-item">
                        <a href="#" class="btn btn-link">Summary page</a>
                    </li>
                    <li class="List-group-item">
                        <a href="#" class="btn btn-link">Skills page</a>
                    </li>
                </ul>

                <div class="card footer">
                    <button class="btn btn-dark btn-sm">Update List</button>
                </div>
            </div>
        </section>
        <section class="col-6">
            <table class="table table-bordered text-bg-success">
                <thead>
                    <tr>
                        <th>
                            #id
                        </th>
                        <th>
                            name
                        </th>
                        <th>
                            age
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Sam</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jack</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>John</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Max</td>
                        <td>21</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="col-12">
            <div class="row g-2">
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <div>This is content of our box</div>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <div>This is content of our box</div>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <div>This is content of our box</div>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <div>This is content of our box</div>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>





            </div>
        </section>

    </div>

    {{!-- <br>
    <br>
    <br>

    <div class="card text-bg-primary">
        <div class="card-header">
            <div>Menu</div>
        </div>

        <ul class="List-group list-group-flush">
            <li class="List-group-item text-bg-dark">
                <a href="#" class="btn btn-link">Home page</a>
            </li>
            <li class="List-group-item text-bg-warning">
                <a href="#" class="btn btn-link">Summary page</a>
            </li>
            <li class="List-group-item text-bg-danger">
                <a href="#" class="btn btn-link">Skills page</a>
            </li>
        </ul>

        <div class="card footer">
            <button class="btn btn-dark btn-sm">Update List</button>
        </div>
    </div>

    <br>
    <br>
    <br>

    <table class="table table-bordered text-bg-success">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <td>Sam</td>
                <td>18</td>
            </tr>
            <tr>
                <th>1</th>
                <td>Jack</td>
                <td>19</td>
            </tr>
            <tr>
                <th>1</th>
                <td>John</td>
                <td>20</td>
            </tr>
            <tr>
                <th>1</th>
                <td>Max</td>
                <td>21</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>
    <br>



    <br>
    <br>
    <br>

    <div class="row gx-5 gy-1">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <div>This is content of our box</div>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <div>This is content of our box</div>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <div>This is content of our box</div>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <div>This is content of our box</div>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <div>This is content of our box</div>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>




    </div> --}}


</main>