<main class="p-5">
    <h1>Hello! <i class="bi bi-emoji-smile"></i></h1>
    <i class="bi bi-emoji-smile"></i>
    <i class="fa-solid fa-cat fa-fade"></i>
    <i class="fa-solid fa-cat fa-fade"></i>

    <button>
        <i class="bi bi-device-ssd"></i>
    </button>

    <div><i class="fa-brands fa-android fa-spin fa-spin-reverse"></i></div>
    <div><img src="/svg/slack.svg"></div>
</main>