<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">Third</h3>

    <hr>

    <div class="display-1">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">Third</div>

    <hr>
    <div class="text-muted text-end">
        Додатковий <span class="display-6">текст</span>
    </div>

    <hr>
    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary</span>
    </button>

</main>