{{#with navigation}}
{{#each links}}
<a href="{{href}}">{{text}}<a></a>
    {{/each}}
    {{/with}}

    <div>{{#with header}}
        {{title}}
        {{#each button}}

        {{/each}}

        {{/with}}
    </div>