/* {{! Завдання 1. Зробіть , щоб HTML документ мав білий фон  , використовуйте Root селектор}} */

:root {
    background: rgb(255, 255, 255);
  }
  /* {{! Завдання 2. Зробіть, щоб всі елементи на сторінці мали текст чорного кольору  }} */

  body {
    color: #000000;
  }
  /* {{! Завдання 3. Зробіть, щоб h1 мав Синій колір фону }} */
  h1{background:blue}

  /* {{! Завдання 4. Зробіть, щоб клас green мав текст зеленого кольору  }} */
  div > p {
    color: rgb(8, 238, 27);
  }

/* {{! Завдання 5. Зробіть, щоб елемент з індинтифікатором blue мав синій колір тексту }} */
   p#id {
    color: rgb(29, 35, 119);
  }

  /* {{! Завдання 6. Зробіть, щоб тег p мав червоний фон ,а тег div мав зелений фон  }}
  {{! Тут вам потрібно використовувати Селектор нащадка }} */
  .box {
    background-color: #1ff10c;
  }
  div > p {
    color: rgb(247, 55, 8);
  }

  /* {{! Завдання 7. Задайте класу brown коричневий фон та білий колір тексту, використовуйте селектор класу  }} */
.brown {
  color: white;
  background: brown;
}

/* /* <!--  Завдання №7:  Застосуйте червоний фон до першого абзацу в div з классом seven-task  -->
  <!--   Використовуйте Селектор першого типу :first-of-type--> */

  .p:first-of-type{
    color: red;
  } 

/* Завдання 8. Зробіть червоний фон для дочірніх елементів тега ul }}
  {{! Використовуйте селектор для позначення дочірних елементів ( parent_tag > children_tag ) }} */
  .parent-tag {
    background: red;
    
  }

  /* {{! Завдання 9. Зробіть червоний фон для тегів, які є сестринськими відносно тега button з класом header-button }}
  {{! Використовуйте Сестринські селектори відносно header-button }} */

  .header-button,span{
    background: red;
  }
  
  /* <!--  Завдання 10 */
  .susid~p {
    color: white;
    background: blue;
  }

  /* <!--  Завдання 11. */
  .salo{
    background: yellow;
  }
  #bread{
    background: yellow;
  }
  
  /* Завдання №1:  */

  li:first-child{
    color: white;
  }

  /* <!--  Завання №2: */
  li:first-child{
    color: yellow;
  }

  /* Завдання №3: */

  /* <!--  Завдання №4: */
  .four-task:last-child{
    color: rgb(175, 33, 99);
  }

  /* <!--  Завдання №5:  */
  .five-task:last-child{
    color: rgb(175, 33, 99);
  }
  
  /* <!--  Завдання №6 */
  div:only-child{
    color: rgb(255, 0, 0);
  }

  /* <!--  Завдання №7: */
  /* виконано
  дивитись више між 7 і 8 завданням */

  /* <!--  Завдання №8: */

  .p:last-of-type{
    color: red;
  } 

  /* <!--  Завдання №9 */
  .lesson-three-task-nine::first-letter{
    color: rgb(38, 0, 255);
  } 
  
  /* <!--   Завдання №10. */
  .lesson-three-task-ten::first-line{
    color: rgb(26, 71, 219);
  } 

  /* <!--    Завдання №11 */
  .lesson-three-task-eleven::placeholder{
    background: rgb(248, 14, 14);
  } 

  /* Завдання №12. */
  .lesson-three-task-twelve::before{
    background: rgb(72, 22, 255);
  } 

  /* <!--   Завдання №13. */
  .lesson-three-task-thirteen::after{
    background: rgb(72, 22, 255);
  } 